@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "list";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  background-image: url("/images/background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

header {
  background-color: white;
  color: rgb(65, 65, 65);
  box-shadow: 3px 3px 9px rgba($color: #000000, $alpha: 0.3);
  border-radius: 5px;
  padding: 1rem;
}

a:link,
a:visited,
a:focus {
  color: rgb(80, 80, 80);
}

a:hover {
  color: rgb(255, 199, 161);
}

#container {
  padding: 1rem;
  max-width: 550px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h1 {
    margin: 0;
  }

  i:hover {
    color: rgb(255, 199, 161);
  }
}

.pages-div {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}

footer {
  margin-top: auto;
}

.add-div {
  background-color: rgba($color: #000000, $alpha: 0.3);
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1.5rem;
  color: white;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    height: 4rem;
    border: none;
    background-color: rgb(255, 199, 161);
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  input:focus {
    outline: none;
    background-color: rgb(153, 163, 192);
  }
  button {
    background-color: transparent;
    border: 0;
    outline: none;
  }
//   button:active, button:focus {
//     outline: none;
//   }

  i, p {
      color: white;
      text-align: center;
  }
}

@media (min-width: 768px) {
  #container {
    margin-top: 10rem;
  }
  footer {
    margin-top: 0;
  }
}
