@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
ul {
  padding-left: 0;
  list-style-type: none; }
  ul li {
    padding: 2rem;
    background-color: white;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
    color: #505050;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
    border-radius: 5px; }
    ul li li:last-child {
      margin-bottom: 0; }
    ul li p {
      margin: 0; }
  ul li > p:nth-child(2) {
    width: 14rem;
    margin-right: 1rem; }
  ul li > .delete-form {
    width: 3.5rem; }
  ul li .edit-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    ul li .edit-form input {
      width: 100%;
      font-family: "Montserrat", sans-serif;
      height: 4rem;
      border: none;
      background-color: #ffc3ac;
      border-radius: 3px;
      margin-bottom: 1rem;
      padding: 1rem; }
    ul li .edit-form input:focus {
      outline: none;
      background-color: #b2cecc; }
    ul li .edit-form div:nth-child(3) {
      display: flex;
      justify-content: space-between; }
      ul li .edit-form div:nth-child(3) button {
        font-family: "Montserrat", sans-serif;
        background-color: white;
        border: 0;
        text-decoration: underline;
        font-size: 1.5rem; }
      ul li .edit-form div:nth-child(3) button:hover {
        color: #ffc3ac; }
  ul li > div > .task-links {
    display: flex;
    justify-content: flex-end; }
    ul li > div > .task-links a {
      padding-top: 1rem;
      padding-left: 1rem;
      color: #505050; }

@media (min-width: 768px) {
  ul li > p:nth-child(2) {
    width: 26rem;
    margin-right: 1rem; }
  ul li > div {
    display: flex;
    align-items: center; }
    ul li > div .task-links a {
      padding-top: 0; } }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  background-image: url("/images/background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; }

header {
  background-color: white;
  color: #414141;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1rem; }
  header #home-link {
    text-decoration: none; }

a:link,
a:visited,
a:focus {
  color: #505050; }

a:hover {
  color: #ffc3ac; }

#container {
  padding: 1rem;
  max-width: 550px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  #container h1 {
    margin: 0; }
  #container i:hover {
    color: #ffc3ac; }

.pages-div {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  padding: 1rem; }

footer {
  margin-top: auto; }

.add-div {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1.5rem;
  color: white; }
  .add-div form {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .add-div input {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    height: 4rem;
    border: none;
    background-color: #ffc3ac;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: 1rem; }
  .add-div input:focus {
    outline: none;
    background-color: #b2cecc; }
  .add-div button {
    background-color: transparent;
    border: 0;
    outline: none; }
  .add-div i, .add-div p {
    color: #b2cecc;
    text-align: center; }

@media (min-width: 768px) {
  #container {
    margin-top: 10rem; }
  footer {
    margin-top: 0; } }
