<form action="/new" method="post">
    <label for="nameInput">Name:</label>
    <input type="text" name="nameInput" id="nameInput">
    <label for="dateInput">Due date:</label>
    <input type="date" name="dateInput">
    <button type="submit">Add task</button>
</form>